.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.strong {
  font-weight: bold;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

.italic {
  font-style: italic;
}

.notice {
  color: green;
}

.error {
  color: red;
}

.invisible {
  visibility: hidden;
}
