<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Riskybiz_Chimp>
            <version>1.0.0</version>
        </Riskybiz_Chimp>
    </modules>
    <global>
        <models>
            <chimp>
                <class>Riskybiz_Chimp_Model</class>
                <resourceModel>chimp_resource</resourceModel>
            </chimp>
            <chimp_resource>
                <class>Riskybiz_Chimp_Model_Resource</class>
                <entities>
                    <score>
                        <table>score</table>
                    </score>
                </entities>
            </chimp_resource>
        </models>
        <resources>
            <chimp_setup>
                <setup>
                    <module>Riskybiz_Chimp</module>
                    <class>Riskybiz_Chimp_Model_Resource_Setup</class>
                </setup>
            </chimp_setup>
        </resources>
        <helpers>
            <riskybiz_chimp>
                <class>Riskybiz_Chimp_Helper</class>
            </riskybiz_chimp>
        </helpers>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <riskybiz_chimp>
                        <type>singleton</type>
                        <class>Riskybiz_Chimp_Model_Observer</class>
                        <method>sendRequestToRiskybiz</method>
                    </riskybiz_chimp>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
    </global>
    <frontend>
        <routers>
            <chimp>
                <use>standard</use>
                <args>
                    <module>Riskybiz_Chimp</module>
                    <frontName>chimp</frontName>
                </args>
            </chimp>
        </routers>
    </frontend>
</config>
